@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'),
    url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat'),
    url('../fonts/montserrat-v25-latin-500.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat'),
    url('../fonts/montserrat-v25-latin-italic.woff2') format('woff2'),
    url('../fonts/montserrat-v25-latin-italic.woff') format('woff');
}

:root {
  --color-primary: #4f4f4f;
  --color-secondary: #333;
  --color-invert: #fff;
  --color-background: #f3f1ee;
  --color-brand: #647b64;
  --color-tertiary: #dfd1c0;

  --color-text-action: #fefefe;
  --color-background-action: #66ac66;

  --color-heading-title: #f3b562;
  --color-heading-subtitle: #647b64;
}

::selection {
  color: var(--color-invert);
  background-color: var(--color-primary);
}

body {
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-background);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Header */
.container {
  width: 100%;
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Header */
.header {
  padding-top: 48px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-link {
  color: var(--color-secondary);
  text-decoration: none;
  text-underline-offset: 2px;
}

.header-link:hover {
  text-decoration: underline;
}

.button {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 24px;
  color: var(--color-text-action);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  fill: currentColor;
  background-image: linear-gradient(102.3deg, #647b64 -4.62%, #66ac66 178.22%);
  border: 0;
  border-radius: 2px;
  box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
  cursor: pointer;
}

.button:hover {
  color: var(--color-background-action);
  background-image: none;
  background-color: var(--color-text-action);
}

.button-small {
  padding: 12px 16px;
  text-transform: capitalize;
}

.section {
  padding: 64px 0;
}

/* .Hero section */
.hero-section {
  padding: 32px 0 64px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  max-width: 600px;
}

.hero-title {
  /* margin-top: 0;
  margin-bottom: 24px; */
  margin: 0 0 24px;
  color: var(--color-secondary);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.333;
  text-transform: uppercase;
}

.hero-text {
  margin: 0 0 40px;
}

/* Heading */
.heading-title {
  margin: 0 0 8px;
  color: var(--color-heading-title);
  font-size: 24px;
  line-height: 1.333;
}

.heading-subtitle {
  margin: 0 0 40px;
  color: var(--color-heading-subtitle);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.333;
}

/* Advantage section */
.advantage-card {
  padding: 32px 40px;
  border-radius: 8px;
  margin-bottom: 32px;
}

.advantage-card:hover {
  background-color: var(--color-invert);
}

.advantage-card-icon {
  fill: var(--color-brand);
  margin-bottom: 16px;
  border: 1px solid gray;
}

.advantage-card-title {
  margin-bottom: 8px;
}

.advantage-card-text {
  margin-bottom: 0;
}

/* Features section */
.features-list {
  display: flex;
  gap: 44px;
  flex-wrap: wrap;
}

.features-item {
  flex-basis: calc((100% - 88px) / 3);
}

.features-item:nth-child(even) .feature-card {
  color: var(--color-invert);
  fill: var(--color-invert);
  background-color: var(--color-brand);
}

/* Feature card */
.feature-card {
  padding: 64px 50px 60px;
  fill: var(--color-brand);
  background-color: var(--color-invert);
  border-radius: 8px;
}

.feature-card-icon {
  margin-bottom: 32px;
}

/* Socials */
.socials-list {
  display: flex;
  gap: 16px;
}

.socials-item {
  width: 32px;
  height: 32px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-tertiary);
  fill: var(--color-brand);
  border-radius: 50%;
}

.socials-link:hover {
  background-color: var(--color-brand);
  fill: var(--color-tertiary);
}
