.section {
  padding: 64px 0;
}

/* Heading */
.heading-title {
  margin: 0 0 8px;
  color: var(--color-heading-title);
  font-size: 24px;
  line-height: 1.333;
  text-transform: uppercase;
}

.heading-subtitle {
  margin: 0 0 40px;
  color: var(--color-heading-subtitle);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.333;
  text-transform: uppercase;
}

/* Advantage section */
.advantages {
  position: relative;
}

.advantages::before {
  position: absolute;
  z-index: -1;
  top: 24px;
  left: 0;
  width: 600px;
  height: 160px;
  background-image: var(--decor-gradient);
  content: '';
}

/* Advantage card */
.advantage-card {
  padding: 32px 40px;
  border-radius: 8px;
  margin-bottom: 32px;
}

.advantage-card:hover {
  background-color: var(--color-invert);
}

.advantage-card-icon {
  fill: var(--color-brand);
  margin-bottom: 16px;
}

.advantage-card-title {
  margin-bottom: 8px;
}

.advantage-card-text {
  margin-bottom: 0;
}

/* Features section */
.features {
  position: relative;
}

.features::before {
  position: absolute;
  z-index: -1;
  bottom: 24px;
  right: 0;
  width: 600px;
  height: 160px;
  background-image: var(--decor-gradient);
  transform: rotate(180deg);
  content: '';
}

.features::after {
  position: absolute;
  z-index: -1;
  bottom: 24px;
  left: 0;
  width: 224px;
  height: 224px;
  background-image: url('../images/decor-dots.png');
  transform: rotate(180deg);
  content: '';
}

.features-list {
  display: flex;
  gap: 44px;
  flex-wrap: wrap;
}

.features-item {
  flex-basis: calc((100% - 88px) / 3);
}

.features-item:nth-child(even) .feature-card {
  color: var(--color-invert);
  fill: var(--color-invert);
  background-color: var(--color-brand);
}

/* Feature card */
.feature-card {
  /* position: relative; */
  /* overflow: hidden; */
  padding: 64px 50px 60px;
  fill: var(--color-brand);
  background-color: var(--color-invert);
  border-radius: 8px;
}

.feature-card-icon {
  margin-bottom: 32px;
}

/* .feature-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #4f4f4f;
  background-color: #f3b562;
  transform: translateY(100%);
  transition: transform 2s;
}

.feature-card:hover .feature-card-overlay {
  transform: translateY(0);
} */

/* .feature-card-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  color: aliceblue;
  background-color: brown;
} */

/* Socials */
.socials-list {
  display: flex;
  gap: 16px;
}

.socials-item {
  width: 32px;
  height: 32px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-tertiary);
  fill: var(--color-brand);
  border-radius: 50%;
}

.socials-link:hover {
  background-color: var(--color-brand);
  fill: var(--color-tertiary);
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px 0;
}

.modal__container {
  position: relative;
  width: 100%;
  max-width: 528px;
  height: 100%;
  max-height: 676px;
  padding: 40px;
  background-color: var(--color-background);
  overflow-y: auto;
}

.modal__title {
  text-align: center;
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  fill: var(--color-primary);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal__close:hover {
  fill: var(--color-brand);
}

.modal__form-field {
  margin-bottom: 16px;
}

/* Form */
.form-field__label {
  margin-bottom: 8px;
  color: var(--color-primary);
}

.form-field__input {
  width: 100%;
  height: 40px;
  padding: 0 12px 0 40px;
  border: 1px solid #bdbdbd; /* move to css variables */
  border-radius: 4px;
  outline: none;
}

.form-field__input:focus {
  border-color: var(--color-brand);
}

.form-field__input:focus + .form-field__icon {
  fill: var(--color-brand);
}

.form-field__control {
  position: relative;
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

/* .form-field-input:not(:placeholder-shown):valid,
.form-field-input:not(:placeholder-shown):in-range {
  border-color: green;
}

.form-field-input:not(:placeholder-shown):invalid,
.form-field-input:not(:placeholder-shown):out-of-range {
  border-color: tomato;
} */

.form-field-textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 24px;
  padding: 8px 12px;
  border: 1px solid #bdbdbd; /* move to css variables */
  border-radius: 4px;
  outline: none;
}

.form-field-textarea:focus {
  border-color: var(--color-brand);
}

.form-field-textarea::placeholder {
  font-size: 12px;
  line-height: 1.3333;
}

.form-field-checkbox {
  margin-bottom: 24px;
}

.checkbox {
  display: flex;
}

.checkbox-input {
  appearance: none;
}

.checkbox-label {
  position: relative;
  padding-left: 24px;
}

.checkbox-icon {
  position: absolute;
  margin: 4px 8px 0 0;
  fill: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 2px;
}

.checkbox-input:checked + .checkbox-icon {
  fill: var(--color-invert);
  background-color: var(--color-brand);
  border-color: var(--color-brand);
}

.form-submit {
  margin: 0 auto;
}
