.section,
.container {
  border: 1px dotted gray;
}

.wrapper {
  display: flex;
  gap: 20px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
}

.box.red {
  width: 150px;
  height: 150px;
  background-color: red;
  /* transition-property: background-color;
  transition-duration: 2000ms; */
  /* transition-delay: 1s; */
  /* transition-timing-function: cubic-bezier(0.17, 1.48, 0.85, -0.56); */
  /* transition: all 2000ms cubic-bezier(0.17, 1.48, 0.85, -0.56); */
}

.box.red:hover {
  background-color: coral;
  color: darkkhaki;
}

.box.green {
  width: 100px;
  height: 100px;
  background-color: green;
  /* animation: rotate 2000ms 2 reverse; */
  /* overflow: hidden; */
}

.box.green span {
  transform: scale(1);
  transition: transform 1000ms;
}

.box.green:hover span {
  transform: scale(5);
}

.box.blue {
  width: 50px;
  height: 50px;
  background-color: blue;
  /* transform: scale(0.5); */
}

.box.orange {
  width: 150px;
  height: 150px;
  background-color: orange;
  /* transform: skew(5deg, 8deg); */
}

/* .box {
  position: relative;
}

.sticky-title {
  position: sticky;
  top: 0;
  margin: 0;
} */

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
