:root {
  --color-primary: #4f4f4f;
  --color-secondary: #333;
  --color-invert: #fff;
  --color-background: #f3f1ee;
  --color-brand: #647b64;
  --color-tertiary: #dfd1c0;

  --color-text-action: #fefefe;

  --color-heading-title: #f3b562;
  --color-heading-subtitle: #647b64;

  --decor-gradient: linear-gradient(
    164.26deg,
    rgba(239, 128, 49, 0) -335.51%,
    rgba(239, 128, 49, 0.15) -20.24%,
    rgba(239, 128, 49, 0) 119.45%
  );
}
